
{% block style %}
	<link rel="stylesheet" href="/assets/css/footer.css">

{% endblock %}
{% block main %}

<footer>
    <section class="footerSection">

    <h2 class="footerTitle"> Contact </h2>
    <p class="footerText">Téléhpone : 07 60 07 43 42</p>
    <p  class="footerText">Mail : erwankp13@gmail.com</p>
    <p  class="footerText">Lien github du projet : <a href="https://github.com/Kessacierwan/Projet-producteur" target="_blank" class="githubLink">Projet producteur</a></p>


</section>

</footer>
{% endblock %}
