.mainInscriptionClient {
    background: rgba(128, 128, 128, 0.3);
    padding: 20px; /* Espacement interne */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
    width: 60vw; /* Largeur fixe du formulaire */
    position: absolute; /* Positionnement absolu */
    top: 50%; /* Positionne le haut à 50% de la hauteur de la fenêtre */
    left: 50%; /* Positionne la gauche à 50% de la largeur de la fenêtre */
    transform: translate(-50%, -50%); /* Centrage de l'élément */
    border : 2px solid black;
}

.containerInscriptionClient {
    display: flex; /* Utilise le modèle flex pour aligner les éléments */
    flex-direction: column; /* Aligne les éléments en colonne */
    align-items: center; /* Centre horizontalement */
}

.titleInscriptionClient {
    text-align: center; /* Centre le titre */
    margin-bottom: 20px; /* Espacement en bas du titre */
}

.formInscriptionClient {
    display: flex; /* Utilise le modèle flex pour aligner les éléments */
    flex-direction: column; /* Aligne les éléments en colonne */
}



.inputInscriptionClient {
    padding: 10px; /* Espacement interne des champs de saisie */
    border: 2px solid #000000; /* Bordure légère */
    border-radius: 4px; /* Coins arrondis */
    width: 80%; /* Prend toute la largeur du conteneur */
    max-width: 250px; /* Largeur maximale */
background-color: rgb(242, 253, 225);}





.error {
    color: red; /* Couleur des messages d'erreur */
    font-size: 0.9em; /* Taille de police plus petite */
}

.divPourDisplayFormInscriptionClient{
    display: flex;
}