{# panier.twig #}
{% extends "../layouts/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/accueil.css">
	<link rel="stylesheet" href="/assets/css/globals.css">


{% endblock %}
{% block main %}
	<section class="accueil-video-section" id="video-fond">
		<div class="accueil-video-container">
			<video autoplay loop muted class="accueil-background-video">
				<source src="/assets/img/2016731-hd_1920_1080_30fps.mp4" type="video/mp4">
				Votre navigateur ne supporte pas la balise video.
			</video>
		</div>
		<div class="accueil-content-overlay">
			<h2 class="accueil-title">Trouver un producteur près de chez vous</h2>
			<div class="divPourDisplayCarlos">
				<div class="divCoucou">
					<p style="font-size : 25px">Consommez
					</p>
				</div>
				<div class="animation">
					<div class="first">
						<div style="font-size : 25px">Local</div>
					</div>
					<div class="second">
						<div style="font-size : 25px">Durable</div>
					</div>
					<div class="third">
						<div style="font-size : 25px">Sain</div>
					</div>
				</div>
			</div>
		</div>

	</section>

	<section class="global-enjeux-section">
		<h2 class="agriboost-title">Pourquoi utiliser AgriBoost ?</h2>
		<section class="enjeux-section">

			<div class="enjeu-item" id="enjeuxEnvironnementaux">
				<h3 class="enjeu-title">Enjeux environnementaux</h3>
				<p class="enjeu-description"></p>
				<div class="enjeu-overlay">
					<span class="enjeu-overlay-text">
						Mettre en avant les produits locaux et le circuit court, afin de minimiser l'impact écologique de l'industrie agroalimentaire.
						<a href="https://www.rtbf.be/article/la-moitie-de-la-pollution-plastique-mondiale-est-produite-par-une-cinquantaine-de-multinationales-11366538" target="_blank">
							<br>
							En savoir plus...
						</a>
					</span>
				</div>
			</div>

			<div class="enjeu-item" id="enjeuxFinancier">
				<h3 class="enjeu-title">Enjeux financiers</h3>
				<p class="enjeu-description"></p>
				<div class="enjeu-overlay">
					<span class="enjeu-overlay-text" id="enjeu-overlay-text-financier">

						La vente directe chez le producteur offre une opportunité d'améliorer la situation financière des agriculteurs.
						 En supprimant les intermédiaires, ils peuvent augmenter leurs marges et créer un lien direct avec les consommateurs.
						  Ce modèle améliore leurs conditions de vie, et permet un réinvestissement dans une agriculture plus durable.
						<a href="https://multinationales.org/fr/a-chaud/actualites/comment-l-industrie-agro-alimentaire-et-la-grande-distribution-asphyxient-le" target="_blank">
							<br>
							En savoir plus...
						</a>
					</span>

				</div>
			</div>

			<div class="enjeu-item" id="enjeuxPolitique">
				<h3 class="enjeu-title">Enjeux politiques</h3>
				<p class="enjeu-description"></p>
				<div class="enjeu-overlay">
					<span class="enjeu-overlay-text" id="enjeu-overlay-text-politique">
				Les circuits courts et les produits locaux permettent renforcer l'autonomie alimentaire, et la résilience de la France, réduisant sa dépendance aux importations.
						<a href="https://www.strategie.gouv.fr/espace-presse/une-alimentation-saine-durable-enjeux-economiques-sanitaires-sociaux-environnementaux" target="_blank">
							<br>
							En savoir plus...
						</a>
					</span>
				</div>
			</div>

			<div class="enjeu-item" id="enjeuxSociaux">
				<h3 class="enjeu-title">Enjeux sociaux</h3>
				<p class="enjeu-description"></p>
				<div class="enjeu-overlay">
					<span class="enjeu-overlay-text" id="enjeu-overlay-text-politique">Les circuits courts améliorent la sécurité alimentaire grâce à une traçabilité directe et transparente, permettant aux consommateurs de connaître précisément
					 l'origine et les conditions de production de leurs aliments. En réduisant les étapes de transformation et de transport, ces circuits minimisent significativement le gaspillage alimentaire 
					 et les pertes de produits. Cette approche renforce également le lien social entre producteurs et consommateurs.</span>
				</div>
			</div>
		</section>
	</section>

{% endblock %}

{% block script %}
	{#  effet visuel pour les enjeux section   #}
	<script src="/js/ux.js"></script>


{% endblock %}
