{% extends "../layouts/base.twig" %}

{% block title %}
	<title>ConfirmPayment</title>
{% endblock %}

{% block style %}

{% endblock %}
<h2> page de confirmation du paiement </h2>
{% block main %}
<h2>Page de confirmation de paiement. </h2>
<a href=""> Obtenir une facture </a>
{% endblock %}
