    {% extends "../layouts/base.twig" %}

    {% block title %}
        <title>Créer un compte Stripe pour producteur</title>
    {% endblock %}

    {% block main %}
        <h2>Créer un compte Stripe pour recevoir des paiements</h2>
        <form action="/create-stripe-account" method="POST">
            <input type="hidden" id="stripe-token" name="stripeToken">
            <button id="create-stripe-account" type="button">Créer un compte Stripe</button>
        </form>
        <div id="status-message"></div>
    {% endblock %}

    {% block script %}
    <script src="https://js.stripe.com/v3/"></script>
    <script>
    var stripePublicKey = '{{ stripePublicKey }}';
    </script>
    <script src="/js/create-stripe-account.js"></script>
{% endblock %}