{% extends "../layouts/base.twig" %}

{% block title %}
<title>Login Producteur</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/assets/css/loginProducteur.css">
		<link rel="stylesheet" href="/assets/css/globals.css">

{% endblock %}

{% block main %}
<main class="mainLoginProducteur">
    <section>
        <div>
            <h2 class="secondTitleLoginProducteur">Connexion Producteur</h2>
        </div>
        <div>
            <form action="/loginProducteur" method="post" class="formLoginProducteur">
                <div>
                    <label for="email" class="labelLoginProducteur">Votre mail</label><br>
                    <input type="email" class="inputLoginProducteur" name="email" style="color: white;">
                    {% if error %}
                    <div class="error">{{ error.email }}</div>
                    {% endif %}
                </div>
                <div>
                    <label for="motDePasse" class="labelLoginProducteur">Votre mot de passe</label><br>
                    <input type="password" class="inputLoginProducteur" name="motDePasse" style="color: white;">
                    {% if error %}
                    <div class="error">{{ error.motDePasse }}</div>
                    {% endif %}
                </div>
                <div class="loginProducteurButtonContainer">
                    <button type="submit" class="testButton">Se connecter</button>
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock %}